SP_API_APP_ID=amzn1.sp.solution.xxx
SP_API_CLIENT_ID=amzn1.application-oa2-client.xxx
SP_API_CLIENT_SECRET=amzn1.oa2-cs.v1.xxx
SP_API_REDIRECT_URI=http://localhost:8000/sp-api/callback
SP_API_REFRESH_TOKEN=Atzr|xxx
